@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Code+Pro:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 10px;
}

@media only screen and (min-width: 112.5em){
    html{
        font-size: 65%;
    }
}